* {
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
}

#previouslyGuessedWords {
    position: absolute;
    font-size: 15px;
    overflow: scroll;
    height: 300px;
    width: 150px;
}

#gameArea {
    width: 960px;
}

#drawArea {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#informationArea {
    margin-top: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

#inputTextArea {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#inputTextArea > input {
    width: 960px;
    height: 40px;
    line-height: 30px;
    font-size: 30px;
}

#drawOptions {
    display: flex;
    justify-content: space-evenly;
    margin: 1% 0;
}

#gameArea button {
    height: 35px;
    width: 150px;
    padding: 1% 0;
}

#gameArea > button {
    width: 960px;
}

canvas {
    position: relative;
}

.border {
    border: 3px solid black;
}