* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #008000;
}

#nonPlayerArea {
    display: flex;
    color: #ffffff;
    height: 350px;
    justify-content: center;
}

#deck, #playedCards {
    background-color: #ffffff;
    color: black;
    padding: 2%;
    margin: 1% 1% 0% 1%;
    text-align: center;
    width: 150px;
    height: 250px;
    border-radius: 3%;
}

#handCards {
    background-color: #008000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#handCards div {
    color: white;
    padding: 2%;
    margin: 1% 1% 0% 1%;
    text-align: center;
    background-color: #ececec;
    width: 150px;
    height: 250px;
    box-shadow: 3px 3px 10px #1d1d1d;
    border-radius: 3%;
}

#playedCards div {
    color: white;
    text-align: center;
    background-color: #ececec;
    width: 150px;
    height: 250px;
    box-shadow: 3px 3px 10px #1d1d1d;
    border-radius: 3%;
}

#playerArea {
    display: flex;
    flex-direction: column;
}

#playerArea button {
    padding: 0.5%;
    width: 100px;
    align-self: center;
    background-color: #26bd26;
    color: #ffffff;
}

#playerArea button:hover {
    background-color: #034203;
}

.hearts  {
    background-color: #ff0000 !important;
}

.diamonds  {
    background-color: #a80000 !important;
}

.spades  {
    background-color: #0f0f0f !important;
}

.clubs  {
    background-color: #292929 !important;
}

.hearts:hover {
    background-color: #c20000 !important;
}

.diamonds:hover  {
    background-color: #770000 !important;
}

.spades:hover  {
    background-color: #000000 !important;
}

.clubs:hover  {
    background-color: #161616 !important;
}

#deck:hover {
    background-color: #dddddd;
}