* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("img/table.png");
    background-size: cover;
}

main {
    margin-top: 35px;
}

#nonPlayerArea {
    display: flex;
    color: #ffffff;
    height: 350px;
    justify-content: center;
}

#deck, #playedCards {
    background-color: #ffffff;
    color: black;
    padding: 2%;
    margin: 1% 1% 0% 1%;
    text-align: center;
    width: 150px;
    height: 250px;
    border-radius: 3%;
}

#deck {
    background-image: url("img/deck.png");
    background-size: cover;
    color: #ffffff;
}

#playedCards {
    background-image: url("img/played.png");
    background-size: cover;
    color: #ffffff;
}

#handCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#handCards div {
    color: white;
    padding: 2%;
    margin: 1% 1% 0% 1%;
    text-align: center;
    background-color: #ececec;
    width: 150px;
    height: 250px;
    box-shadow: 3px 3px 10px #1d1d1d;
    border-radius: 3%;
}

#handCards div:hover {
    outline: 1px solid white;
    cursor: pointer;
}

#playedCards div {
    color: white;
    text-align: center;
    background-color: #ececec;
    width: 150px;
    height: 250px;
    box-shadow: 3px 3px 10px #1d1d1d;
    border-radius: 3%;
}

#playerArea {
    display: flex;
    flex-direction: column;
    border: 3px solid #e7e771;
    padding-bottom: 2%;
    margin: 1%;
}

#playerArea button {
    margin-top: 0.75%;
    padding: 0.5%;
    width: 100px;
    align-self: center;
    background-color: #468546;
    color: #ffffff;
}

#playerArea button:hover {
    background-color: #034203;
    cursor: pointer;
}

.hearts  {
    background-image: url("img/hearts.png");
    background-size: cover;
}

.diamonds  {
    background-image: url("img/diamonds.png");
    background-size: cover;
}

.spades  {
    background-image: url("img/spades.png");
    background-size: cover;
}

.clubs  {
    background-image: url("img/clubs.png");
    background-size: cover;
}

#deck:hover {
    background-color: #dddddd;
    outline: 1px solid #ffffff;
    cursor: pointer;
}